<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>
      Compound Interest
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Value</ion-label>
      <ion-input type="number" formControlName="value"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Term</ion-label>
      <ion-select okText="Okay" cancelText="Dismiss" formControlName="term">
        <ion-select-option value="12">12 months</ion-select-option>
        <ion-select-option value="24">24 months</ion-select-option>
        <ion-select-option value="36">36 months</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Rate</ion-label>
      <ion-input formControlName="rate" type="number"></ion-input>
    </ion-item>
    <div>
      <ion-text color="success" *ngIf="result">
        <p>R$ {{result}}</p>
      </ion-text>
      <ion-text color="danger" *ngIf="!result">
        <p>Faltam informações</p>
      </ion-text>
    </div>
    <div class="btns">
      <ion-button color="light" padding (click)="clearForm()">Limpar</ion-button>
      <ion-button color="success" padding (click)="calculate()">Compute</ion-button>
    </div>
  </form>
  
</ion-content>
